.navbar {
  display: flex;
  justify-content: space-between;
  padding: 14px 40px;
  background: #2f4f2f;
  color: #fff;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}
